<div class="footer">
	<div style="margin-left:auto;margin-right:auto;max-width:360pt;height:36pt">
		<div style="float:left;height:36pt;width:67pt">
			<img src="{{ site.baseurl }}/Images/Fietstekening.svg" alt="My bike. Credits to R. Rens." title="My bike. Credits to R. Rens." style="height:36pt">
		</div>
		<div style="display: inline-block;margin:auto;max-width:225pt;padding:12pt 0;">
			<i>Last updated: 3rd of April, 2026.</i>
		</div>
		<div style="float:right;height:36pt;width:67pt;display:flex;align-items: center;">
			<img src="{{ site.baseurl }}/Images/Dessin.png" alt="Dessin d'enfant from my defense invitation. Credits to R. Rens." title="Dessin d'enfant from my defense invitation. Credits to R. Rens." style="height:28pt;">
		</div>
	</div>
</div>
